body {
    font-family: sans-serif;
    background-color: darkcyan;
    color: lightyellow;
}
h1 {
    background-color: aquamarine;
}
h2 {
    border-bottom: 1px solid blue;
}
header img {
    width:40px
}
footer a {
    margin: 20px;
    font-size: 20px;
    text-decoration:  none;
    color:white;
    border: 3px solid indigo;
    border-radius: 10px;
    padding:10px;
}
footer a {
    background-color: aquamarine;
}
.h {
    width:250px;
    height: 200px;
}
